In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = "4_57/Rating.csv"

rating_data = pd.read_csv(file_name)

In [4]:
# rating_data.head()
rating_data.drop(index=2)

    Time  Rating  TimeStamp
0      0       5          0
1     10       4         10
3     30       4         30
4     40       5         40
5     50       2         50
..   ...     ...        ...
73   730       3         10
74   740       3         20
75   750       3         30
76   760       3         40
77   770       3         50

[77 rows x 3 columns]